.body {
    /*background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("1.jfif");
   
    background-color: rgb(255,255,255);*/
}
.header {
    position: sticky;
    top: 0;
    height: 100px;  
    box-shadow: 0 0.3125rem 0.3125rem 0 rgb(0 0 0 / 15%);
    background-color: rgb(211,211,211,0.5);
    text-align: center;
    /* */
}
.header-text {
    font-weight: bold;
    text-shadow: 2px 2px grey;
    position: absolute;
    top: 20px;
    display: block;
    padding: 10px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*"Gotham SSm A","Gotham SSm B";*/
    line-height: 1.625;
    color: #57068c;
}
.pagetitle {
    font-family: Arial;
    font-size: 50px;
    text-shadow:0,0,0.2em purple; 
    line-height: 50px;
    text-align: center;
    font-weight: 300;
    width: 100%;
    color:darkmagenta;
    text-shadow:1px 1px 1px black;

}
pagetitle:hover, pagetitle:active {
        background-color: rgba(230 209 225);
        /* Reduced the opactity of the text when the link is hovered upon */
        opacity: 0.7;
        top: 5px;
        /* Takes 0.5 seconds to reduce the opacity as a transiton */
        transition: 0.5s;
    }

.headings {
    font-family: Arial;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    
    width: 100%;
    color: darkmagenta;
    text-shadow: 1px 1px 1px grey;
    transition: ease-in;
    transition-duration: 2s;
}

.text2 {
    font-family: Arial;
    font-size: 20px;
    margin-right: 200px;
    margin-left: 200px;
    line-height:28px;
    text-align:justify;
}
.video {
    margin:30px;
    width: 70%;
}

.team {
    height: 250px;
    margin: 10px 40px 10px 40px; 
    text-align:center; 
    box-shadow: 0 0.3125rem 0.3125rem 0 rgb(0 0 0/70%);

}
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.Column {
    display: table-cell;
    background-color: white; /*Optional*/
}




/*
    https://github.com/Zunairviqar/Zunairviqar.github.io-productive_quarantine/blob/master/index.html
*/


/*---------------------------------------------------------------------------------------------*/
a:link, a:visited {
    /* background-color: #F5FAFE; */
    border: grey 0.4px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    text-align: center;

    /* Used for creating a transition for the index page text */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgba(230 209 225);
    /* Reduced the opactity of the text when the link is hovered upon */
    opacity: 0.7;
    top: 5px;
    /* Takes 0.5 seconds to reduce the opacity as a transiton */
    transition: 0.5s;
}


.links a {
    position: relative;
    left: 38%;
    overflow: auto;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
/*---------------------------------------------------------------------------------------------*/


/*
    Should we do these examples a "photo carousel" where images change upon clicking
a DOM change based on mouse position/scroll
a slider to control the look of the page
*/
.module {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 150px;
    float: left;
    background: url(campus3.jpg);
    background-size: cover;
}

.darken {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(campus3.jpg);
}
.dark {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 150px;
    float: left;
    background: url(30MFF.png);
    background-size: cover;
}

.buttons{
    margin-left:48%; 
    margin-bottom: 40px; 
    height:35px;
    width:65px; 
}